.about-page-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(119, 176, 230);
  background-image: linear-gradient(90deg, rgb(220, 248, 243), rgb(152, 196, 238));
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section {
  display: flex;
  flex-direction: column;
}

.about-section > h1 {
  font-family: 'proxima-nova', sans-serif;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}

.about-item {
  display: flex;
  margin-top: 20px;
  font-family: 'proxima-nova', sans-serif;
}

.about-item > img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.about-item-right {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.about-item-right > h1 {
  font-size: 35px;
  font-weight: 700;
}

.about-item-right > h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.about-item-right > a {
  font-size: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  margin-bottom: 5px;
  text-decoration: none;
}

.about-item-right > a:hover {
  color: rgb(245, 116, 57);
}

.about-item-right > a > h4 {
  font-size: 25px;
  margin-left: 5px;
}