

.card {
  
  background-color: #d1d1d1;
  width: 400px;
  height: 500px;
  padding: 20px;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-top: 500px;
  
}

.rec-cards {
  min-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.card-info-container {
  position: relative;
  min-width: 800px;
  margin-left: 725px;
  margin-bottom: 200px;
  
}

.rec-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;
}

.swipe {
  position: absolute;
}

.card-company {
  font-family: sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: rgb(67, 67, 67);
}

.card-title {
  font-family: sans-serif;
  font-size: 22px;
  color: rgb(80, 80, 80);
  margin-left: 20px;
  margin-top: 20px;
}

.card-location {
  font-family: sans-serif;
  font-size: 18px;
  color: rgb(103, 103, 103);
  margin-left: 35px;
  font-weight: 600;
}

.card-description {
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(103, 103, 103);
  margin-left: 35px;
  margin-top: 40px;
}

.card-skills-title {
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(82, 82, 82);
  margin-left: 35px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.card-skill {
  margin-left: 45px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(152, 152, 152);
  font-weight: 600;
}

.card-compensation {
  margin-left: 45px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(133, 133, 133);
  font-weight: 600;
}