

.card {
  
  background-color: #ffffff;
  width: 400px;
  min-height: 400px;
  box-shadow: 0px 5px 35px 10px rgba(241, 241, 241, 0.2);
  border-radius: 20px;
  margin-top: 120px;
  
}

.rec-cards {
  width: 100%;
  margin-left: 350px;
  display: flex;
  overflow-y: scroll;
  position: relative;

}





.swipe {
  position: absolute;
  left: 50%;
  margin-left: -200px;

}

.card-company {
  font-family: sans-serif;
  font-size: 60px;
  font-weight: 900;
  padding-left: 20px;
  padding-top: 10px;
  color: rgb(92, 92, 92);
  border-bottom: 1px solid rgba(228, 228, 228, 0.247);
  box-shadow:0px 0.5px 0px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(155, 155, 155);
  margin-left: 50px;
  margin-top: 10px;
  font-style: italic;
}

.card-location {
  font-family: sans-serif;
  font-size: 18px;
  color: rgb(103, 103, 103);
  margin-left: 35px;
  font-weight: 600;
}

.card-description {
  font-family: sans-serif;
  font-size: 12px;
  color: rgb(103, 103, 103);
  margin-left: 53px;
  margin-top: 5px;
}

.card-skills-title {
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(168, 168, 168);
  margin-left: 75px;
  margin-top: 30px;
  margin-bottom: 15px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 10px;
  width: 125px;
  text-align: center;
  padding: 2px 4px;
}

.card-skill {
  margin-left: 95px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 12px;
  color: rgb(117, 117, 117);
  font-weight: 600;
}

.card-compensation {
  margin-left: 95px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(133, 133, 133);
  font-weight: 600;
}