.user-profile {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.profile-container {
    width: 100%;
    padding: 80px 100px;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
    min-width: 850px;
    overflow-y: scroll;
    position: relative;
    margin-left: 350px;
    height: 100vh;
}

.overall {
    display: flex;
    flex-direction: column;
}



.profile-info-container {
    width: 100%;
    position: absolute;
    min-height: 1000px;
    max-width: 700px;
    background-color: rgb(225, 225, 225, 0.36);
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.13);
    padding: 60px 60px;
    margin-bottom: 100px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    
}

.info-box {
    width: 100%;
    min-height: 80px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-left: 30px;
    border-left: 5px solid rgb(0, 0, 255);
}

.footer {
    margin-top: 80px;
    width: 100%;
    height: 80px;
    position: absolute;
    
}

.flex-column {
    display: flex;
    justify-content: space-between;
}

.info-box header {
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(82, 82, 82);
    cursor: default;
    
}

.info-box p {
    color: gray;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: default;
}

.info-box .sub-box {
    margin-bottom: 20px;
}

.profile-info-container h1 {
    font-family: sans-serif;
    font-size: 40px;
    color: rgb(82, 82, 82);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}

.edit-btn {
    color: gray;
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
    cursor: pointer;
}

.edit-btn:hover {
    color: rgb(0, 0, 255);
}

.skills-container {
    display: flex;
    margin: 20px 0;
    padding-left: 30px;
    max-width: 550px;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    height: 30px;
    background: white;
    border: 2px solid rgb(150, 150, 150);
    position: relative;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(118, 118, 118);
    cursor: default;
}

.close {
    color: rgb(196, 196, 196);
    border: none;
    background-color: white;
}

.close:hover {
    cursor: pointer;
    color: rgb(126, 126, 126);
}

.job-history-title {
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(97, 97, 97);
    padding-left: 40px;
    margin-top: 25px;
}

.job-history-role {
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(159, 159, 159);
    padding-left: 60px;
    margin-top: 10px;
}

.job-history-dates {
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(196, 196, 196);
    padding-left: 75px;
    margin-top: 5px;
}

.job-dates-icon {
    margin-right: 5px;
    width: 12px;
    height: 12px;
}

.location {
    font-size: 18px;
    padding-left: 40px;
    padding-top: 10px;
    color: rgb(97, 97, 97);
}

.relocate {
    margin-right: 40px;
    padding-top: 10px;
    text-align: right;
    font-family: sans-serif;
    color: rgb(97, 97, 97);
}

.relocate p {
    color: rgb(167, 167, 167);
    margin-top: 10px;
    padding-right: 20px;
}

.add-btn {
    margin-left: 40px;
    margin-top: 20px;
}

.update {
   padding-bottom: 20px;
}

.job-history-btns{
    display: flex;
    width: 55px;
    height: 20px;
    justify-content: space-between;   
}

.job-history-text {
    color: gray;
    font-family: sans-serif;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 3px;
    font-size: 12px;
    width: 280px; 
    padding: 7px 0; 
    padding-left: 5px;
}

.logout-btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    border-radius: 3px;
}

.logout-btn:hover {
    background-color: rgb(121, 12, 34);
    cursor: pointer;
}

.loader {
    border: 16px solid rgb(182, 182, 182);
    border-top: 16px solid rgb(0, 0, 255);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 80px;
    height: 80px;
    animation: spin 500ms linear infinite;
    -webkit-animation: spin 500ms linear infinite;
    position: absolute;
    top: 350px;
    left: 50%;
    margin-left: 145px;
    z-index: 3;
}

.interior {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.job-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 110px;
    box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.15);
    border-radius: 3px;
    margin: 20px 0px;
    padding-left: 10px;
    padding-right: 60px;
    
}

.job-item-title {
    color: rgb(91, 91, 91);
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 10px;
}

.job-item-desc {
    color: rgb(162, 162, 162);
    font-family: sans-serif;
    font-size: 14px;
}

.job-item-skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto 0;
    width: 100px;
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(176, 176, 176);
}

.job-item-skill {
    margin: 3px 0px;
}

.job-item-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    color: green;
    margin: auto 0;
}